body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(132,64,149,1) 35%, rgba(255,0,63,1) 100%);
}

.contenedor_flex{
    display: flex;
    flex-direction: row;

}

.contenedor{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 100px auto 0;
    padding: 80px;
    box-shadow: 30px 30px 200px 30px black;
    border: 5px solid black;
}
.item{
    padding: 10px;
    font-size: 20px;
}
.rojo{
    color: red;
}
.negrita{
    font-weight: bold;
    color: purple;
}
.icono{
    list-style-image: url("estrella.gif");
    
}
#boton{
    width: 300px;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 20px auto;
    background-color: pink;
    box-shadow: 3px 3px 3px black;
    position: relative;
    bottom: 10px;
    left: 50px;
}

.split{
    width: 800px;
    height: 200px;
    margin: 200px auto;
    padding: 30px;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}
#titulo{
    -webkit-text-stroke: 0.2px black;
}


.envio{
    width: 800px;
    height: 50px;
    margin: 200px auto;
    padding: 30px;
    font-size: 15px;
}
